#header{
    display: flex;
    justify-content: space-between;
    #nav{
        position: relative;
        width: 20%;
        .icon{
            position: absolute;
            top: 50%;
            left: 50% ;
            transform: translate(-50%,-50%);
            cursor: pointer;
            background: white;
            .hamburger{
                width: 18px;
                height: 3px;
                background: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                box-shadow: 0 2px 5px rgba(0,0,0,.2);
                transition: .5s;
                border-radius: 10px;
            }        
            .hamburger::before,
            .hamburger::after{
                content: '';
                position: absolute;
                width: 18px;
                height: 3px;
                background: white;
                box-shadow: 0 2px 5px rgba(0,0,0,.2);
                transition: .5s;
                border-radius: 10px;
            }
            .hamburger::before{
                top: -8px;
            }
            .hamburger::after{
                top: 8px;
            }
        }
        .icon.active{
            .hamburger{
                background: rgba(0, 0, 0, 0);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0)
            }
            .hamburger::before{
                top:0;
                width: 20px;
                transform: rotate(45deg);
            }
            .hamburger::after{
                top:0;
                width: 20px;
                transform: rotate(135deg);
            }
        }
    }
}
