
@mixin background($image,$color){
    background-image:url($image);
    background-color: $color;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;    
}


@mixin btn($bg-btn,$color-txt-btn,$color-bg-hover,$color-bg-active,$font-weight){
    
    width: 100%;
    height: 2.7rem;
    text-align: center;
    font-size: .9rem;
    font-weight: $font-weight;
    text-transform: capitalize;
    color: $color-txt-btn;
    background-color:$bg-btn ;
    border-radius: 5px;
    border:none;
    box-shadow: none;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in;
    cursor: pointer;
    
    &:hover{
        background:$color-bg-hover;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    }
    &:active{
        margin-top: .1rem;
        background: $color-bg-active;
    }
}


@mixin image {
    img{
        width: 100%;
        height: auto;
        display: block
    }
}

@mixin logo($width,$maxWidth,$minWidth) {
    .container__logo{
        width: $width;
        max-width: $maxWidth;
        min-width: $minWidth;
        @include image();
    }
}

@mixin heading($font-style,$font-w) {
    h2{
        font-family: $font-style;
        font-weight: $font-w;
    }
}

@mixin img(){
    .container__img{
        width: 100%;
        @include image();
    }
}

@mixin  input($font-w,$color-text,$color-border) {
    width: 100%;
    height: 2.5rem;
    margin-bottom: .5rem;
    padding: .5rem 1.5rem;
    font-size: .7rem;
    font-weight: $font-w;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    color:$color-text;
    border: 1px solid $color-border;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: none;
} 